<!-- {{(products$ | async) | json}} -->
<app-search></app-search>
<div class="container">
  <div class="d-flex flex-column w-100">

    <div
      class="d-flex flex-row flex-wrap justify-content-center w-100"
      *ngIf="(products$ | async) as products"
    >
      <app-preview-box
        *ngFor="let product of products"
        [hasFooter]="true"
        [name]="product.name"
        [image]="product.images[0]"
        [price]="product.price"
        (click)="navigateTo(product.barcode)"
      ></app-preview-box>
    </div>
    <div *ngIf="(products$ | async)?.length === 0">No Items</div>
  </div>

  <div class="my-5 text-right">
    <button
      mat-icon-button
      color="primary"
      class="mr-5"
      (click)="back()"
    >
      <mat-icon>arrow_back</mat-icon> Back
    </button>
  </div>
</div>



<app-loader *ngIf="(isLoading$ | async)"></app-loader>
