.img {
  width : 280px;
  height: 150px;
}

.photo {
  width     : 280px;
  height    : 150px;
  background: #000;
}

// .mat-card {
//   @media only screen and (max-width: 400px) {
//     max-width: 300px !important;
//     min-width: 300px !important;
//     width    : 300px !important;
//     padding  : 5px !important;
//     margin   : 10px 0px !important;
//   }
// }


// .mat-card-content {
//   @media only screen and (max-width: 400px) {
//     max-width: 300px !important;
//     min-width: 300px !important;
//     width    : 300px !important;
//     padding  : 5px !important;
//     margin   : 10px 0px !important;
//   }
// }
