<div
  class="d-flex flex-column w-100"
  *ngIf="!(isLoading$ |async)"
>
  <app-search></app-search>

  <div
    class="d-flex flex-row flex-wrap m-0 p-0 justify-content-center"
    *ngIf="(categories$ | async) as categories"
  >
    <ng-container *ngIf="categories.length">
      <app-preview-box
        *ngFor="let category of categories"
        [link]="'/products/category/'+category.name"
        [name]="category.name"
        [image]="category.imageUrl"
        class="m-0 p-0"
      ></app-preview-box>
    </ng-container>

    <ng-container *ngIf="!categories.length">No items</ng-container>

  </div>

</div>



<app-loader *ngIf="(isLoading$ | async)"></app-loader>
