@font-face {
  font-family : 'Brown-Regular';
  src         : url('../assets/fonts/Brown-Regular.woff') format('woff');
  font-weight : normal;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Brown-Light';
  src         : url('../assets/fonts/Brown-Light.woff') format('woff');
  font-weight : 300;
  font-style  : normal;
  font-display: swap;
}
