/* You can add global styles to this file, and also import other style files */
@import './theme/theme-variables.scss';
@import './theme/theme-overrides.scss';
@import './theme/fonts.scss';

// Import NGX Toastr style
@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin     : 0;
  height     : 100%;
  font-family: 'Brown-Regular', 'Brown-Light' !important;
}

a,
i,
.pointer {
  cursor         : pointer;
  text-decoration: none !important;
}

html,
body {
  height: 100%;
}

body {
  margin        : 0;
  font-family   : Roboto, "Helvetica Neue", sans-serif;
  // background : lightblue !important;
}

.mat-card,
.mat-card-content,
.mat-card-header,
.mat-card.footer {
  @media only screen and (max-width: 400px) {
    max-width: 300px !important;
    min-width: 300px !important;
    width    : 300px !important;
    padding  : 5px !important;
    margin   : 10px 0px !important;
  }
}

.ellipsis {
  display      : block;
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

.search-input {
  padding: 5px;

  @media only screen and (max-width: 400px) {
    width: 250px;
  }
}

.search-button {
  height    : 67px;
  margin-top: 5px;
}

.negative-margin {
  margin-left: -50px;
}

a,
.pointer {
  cursor: pointer;
}
