@import 'src/theme/theme-variables.scss';
@import 'src/theme/theme-overrides.scss';

.search-input {
  padding: 5px;

  @media only screen and (max-width: 400px) {
    width: 250px;
  }
}

.search-button {
  height    : 67px;
  margin-top: 5px;
}

.negative-margin {
  margin-left: -50px;
}
